* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: inherit;
}

.sobre-banco, .sobre-cartao,.sobre-suporte, .sobre0 {
    display: flex;
    height: 80vh;
    align-items: center;

}

.sobre0, .sobre-cartao {
    color: #ffffff;
}

.sobre-img {
    width: 80%;
    height: 80%;
}

.sobre-descricao {
    width: 50%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.sobre0 {
    background-color: #ff914d;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.sobre0>h2 {
    margin: 2rem 0;
    font-size: 4rem;
}

.sobre-descricao>h2 {
    margin-bottom: 1rem;
}

.sobre img {
    width: 50%;
}

.sobre-cartao {
    background-color: #ff914d;
    flex-direction: row-reverse;
}
.sobre-cartao a {
    color: #ffffff;
    padding: 1rem;
}
.sobre-cartao a:hover, .sobre-cartao a:focus {
    text-decoration: underline;
}
.sobre-cartao a:active {
    color: #000000;
    text-decoration: underline;
}

.sobre-banco a ,.sobre-suporte a {
    color: #ff914d;
    margin-top: 1rem;
    padding: 1rem;
}
.sobre-banco a:hover, .sobre-banco a:focus, .sobre-suporte a:hover, .sobre-suporte a:focus  {
    text-decoration: underline;
}
.sobre-banco a:active, .sobre-suporte a:active {
    color: #000000;
    text-decoration: underline;
}