*{
    margin: 0;
    padding: 0;
}
.container-A{
    border: 3px solid rgb(12, 111, 224);
    height: 300px;
    background-color: rgba(23, 163, 163, 0.356);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}
.container-A > div.container01 {
    background-image: linear-gradient(to right, #ff914d, rgb(255, 255, 255));
    margin: 3px;
    border: 1px solid black;
    width:50% ;
}

.container-A > div.container02 {
    background-color:  rgba(208, 241, 15, 0.534);
    margin: 3px;
    border: 1px solid black;
    width:50% ;
}

.container-B {
    border: 3px solid rgb(184, 248, 8);
    height: 300px;
    background-color: rgba(255, 255, 255, 0.986);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-B > div.container03 {
    background-color: rgb(245, 245, 245);
    margin: 3px;
    border: 1px solid black;
    width: 50%;
    height: 600px;

}
.container-B > div.container04 {
    background-image: linear-gradient(to right, #ff914d, rgba(252, 248, 0, 0.568));
    margin: 3px;
    width: 40%;
    border-radius: 15px;

    

}

.container-A > div.container01 h2 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-indent: 20px;
    text-shadow: black 0.1em 0.1em 0.2em
    
}

.container-A > div.container01{
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

.container-B > div.container04{
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
.imagem01 {
    border-radius: 20px;
}
.imagem02 {
    border-radius: 20px;
}